body {
	background-image: url("Images/Main.jpg");
	background-size: cover;
}
#oval {
	width: 450px;
	height: 200px;
	border: 10px;
	background-color: yellow;
	border-radius: 60%;
	opacity: .5 ;
	margin: 0px 200px 0px 370px;
}

#oval_text {
	text-align: center;
	margin: -180px 0 0 400px;
	position: absolute;
}

#info {
	clear: left;	
	background-color: brown;
	width:1250px;
	height: 100px;
	text-align: center;
	margin-top: 600px;
}

#info ul{
	display: inline-block;
	text-align: center;
	}